<div class="container">


    <div class="row mt-5">
        <div class="col-md-12 col-lg-6">
            <div ngbDropdown class="d-inline-block mr-5">
                <button class="btn btn-outline-primary" id="dropdownBasic1"
                    ngbDropdownToggle>{{selectedState}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem *ngFor="let state of statesData"
                        (click)="ChangeStateOrder(state.state)">{{state.state}}</button>
                </div>
            </div>
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownBasic1"
                    ngbDropdownToggle>{{selectedDistrict}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem *ngFor="let city of citiesData"
                        (click)="ChangeCityOrder(city)">{{city}}</button>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="form-group">
                <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()"
                    placeholder="Search Nearest Location" [(ngModel)]="selectedDistrict" autocorrect="off"
                    autocapitalize="off" spellcheck="off" type="text" #search>
            </div>

            <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"></agm-marker>
            </agm-map>

            <h5>Address: {{address}}</h5>
            <div>Latitude: {{latitude}}</div>
            <div>Longitude: {{longitude}}</div>
        </div>
    </div>
</div>